<!DOCTYPE html>
<html>

<head>
<title>Matrimony</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
<script>
		//defining module
		var myapp = angular.module('myapp', []);

		//creating custom directive
		myapp.directive('ngCompare', function() {
			return {
				require: 'ngModel',
				link: function(scope, currentEl, attrs, ctrl) {
					var comparefield = document.getElementsByName(attrs.ngCompare)[0]; //getting first element
					compareEl = angular.element(comparefield);

					//current field key up
					currentEl.on('keyup', function() {
						if (compareEl.val() != "") {
							var isMatch = currentEl.val() === compareEl.val();
							ctrl.$setValidity('compare', isMatch);
							scope.$digest();
						}
					});

					//Element to compare field key up
					compareEl.on('keyup', function() {
						if (currentEl.val() != "") {
							var isMatch = currentEl.val() === compareEl.val();
							ctrl.$setValidity('compare', isMatch);
							scope.$digest();
						}
					});
				}
			}
		});

		// create angular controller
		myapp.controller('mainController', function($scope) {

					$scope.mothlangList = ["Tamil", "English", "Hindi", "Urdu", "Kannada", "Telugu", "Malayalam", "Oriya", "Marathi", "Bengali", "Assamese", "Rajasthani", "Manipuri", "Others"];

					$scope.castes = ["Any", "Caste-No-Bar", "gnikula-Kshatriya", "Arya Vysya", "Balija", "Besta", "Brahmin", "Chettiar", "Devanga", "Gandla", "Gapublic", "Gowda", "Intercaste", "Kalinga", "Kamma", "Kapu", "Kshatriya", "Kummari", "Kuruba", "Lingayath", "Mannuru Kapu", "Madiga", "Mahendra", "Mala", "Maratha", "Meru Darji", "Mudaliyar", "Mudiraj", "Nadar", "Nai", "Naidu", "Padmasali", "Patnaick", "Rajaka", "Rajput", "Reddy", "SC", "Telaga", "Tribe", "Uppara", "Vaddera", "Vaishnava", "Valmiki", "Vanjara", "Vokkaliga", "Velama", "Viswabrahmin", "Yadava", "Other"];


					$scope.educationList = ["Any", "Bachelors-Engineering-Computers", "Masters-Engineering-Computers", "Bachelors-Arts-Science-Commerce-Others", "Masters-Arts-Science-Commerce-Others", "Management-BBA-MBA-Others", "Medicine-General-Dental-Surgeon-Others", "Legal-BL-ML-LLB-LLM-Others", "Service-IAS-IPS-Others", "Ph-Diploma", "Higher-Secondary-Secondary"];

					$scope.religionList = ["Hindu", "Muslim", "Christian", "Sikh", "Jain", "Parsi", "Buddhist", "InterReligion", "NoReligion"];

					$scope.employementList = ["Government", "Private", "Business", "Defence", "Not-Working"];

					$scope.residencyList = ["Citizen", "Permanent-Resident", "Work-Permit", "Student-Visa", "Temporary-Visa"];

					// function to submit the form after all validation has occurred 
					response.controller('responseControl', function($scope, $http) {

						$scope.submitForm = function(user) {

							//GET request 
							var url = "http://localhost:8080/HibernateWebApp/rest/user/add?user" = +user;

							$http.get(url).then(
								function(payload) {
									console.log(payload.data);

								});

						}


						$scope.redirectIndex = function() {
							window.location = "login.html";
						}
					});

	</script>
</head>

<body ng-app="myapp" ng-controller="mainController">
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2">

			<!-- PAGE HEADER -->
			<div class="page-header">
				<h1>Welcome to Matrimony.com</h1>
			</div>

			<!-- FORM : YOU CAN DISABLE, HTML5 VALIDATION BY USING "novalidate" ATTRIBUTE-->
			<form name="userForm" ng-submit="submitForm(user)" novalidate>

				<!-- NAME -->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.$invalid && (userForm.Name.$dirty || submitted)}">
					<label>Name</label> <input type="text" name="Name"
						class="form-control" ng-model="user.Name" placeholder="Your Name"
						ng-required="true">
					<p
						ng-show="userForm.Name.$error.required && (userForm.Name.$dirty || submitted)"
						class="help-block">You name is required.</p>
				</div>

				<!-- USERNAME -->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.username.$invalid && (userForm.username.$dirty || submitted)}">
					<label>UserId</label> <input type="text" name="user.user_Id"
						class="form-control" ng-model="user.user_Id"
						placeholder="Your Username" ng-minlength="3" ng-maxlength="8"
						ng-required="true">
					<p
						ng-show="userForm.user.user_Id.$error.required && (userForm.user.user_Id.$dirty || submitted)"
						class="help-block">You username is required.</p>
					<p
						ng-show="userForm.user.user_Id.$error.minlength && (userForm.user.user_Id.$dirty || submitted)"
						class="help-block">Username is too short.</p>
					<p
						ng-show="userForm.user.user_Id.$error.maxlength && (userForm.user.user_Id.$dirty || submitted)"
						class="help-block">Username is too long.</p>
				</div>

				<!-- GENDER -->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.user.gender.$invalid && (userForm.user.gender.$dirty || submitted)}">
					<label id="label">Gender:</label>&nbsp;&nbsp;&nbsp;
					Male&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio"
						name="user.gender" ng-model="user.gender" value="male" required>
					&nbsp;&nbsp;&nbsp;&nbsp; Female <input type="radio"
						name="user.gender" ng-model="user.gender" value="female" required></br>
					<span class="msg" ng-show="frm.user.gender.$error.required">select
						any gender</span>
				</div>

				<div class="form-group"
					ng-class="{ 'has-error' : userForm.user.motherlang.$invalid && (userForm.user.motherlang.$dirty || submitted)}">
					<label>Mother Langugae</label> <select name="user.motherlang"
						class="form-control" ng-model="user.motherlang"
						ng-options="x for x in mothlangList" ng-required="true">
						<option value=''>Select</option>
					</select>
					<p
						ng-show="userForm.user.motherlang.$error.required && (userForm.user.motherlang.$dirty || submitted)"
						class="help-block">You Mother Language is required.</p>
				</div>

				<div class="form-group"
					ng-class="{ 'has-error' : userForm.user.caste.$invalid && (userForm.user.caste.$dirty || submitted)}">
					<label>Caste</label> <select name="user.caste" class="form-control"
						ng-model="user.caste" ng-options="x for x in castes"
						ng-required="true"></select>
					<p
						ng-show="userForm.user.caste.$error.required && (userForm.user.caste.$dirty || submitted)"
						class="help-block">You Caste is required.</p>
				</div>

				<div class="form-group"
					ng-class="{ 'has-error' : userForm.name.$invalid && (userForm.name.$dirty || submitted)}">
					<label>Education</label> <select name="user.education"
						class="form-control" ng-model="user.education"
						ng-options="x for x in educationList" ng-required="true">
						<option value=''>Select</option>
					</select>
					<p
						ng-show="userForm.education.$error.required && (userForm.education.$dirty || submitted)"
						class="help-block">Select Education.</p>
				</div>

				<div class="form-group"
					ng-class="{ 'has-error' : userForm.name.$invalid && (userForm.name.$dirty || submitted)}">
					<label>Occupation</label> <input type="text" name="user.occupation"
						class="form-control" ng-model="user.occupation"
						placeholder="Your occupation" ng-required="true">
					<p
						ng-show="userForm.occupation.$error.required && (userForm.occupation.$dirty || submitted)"
						class="help-block">Occupation is required.</p>
				</div>

				<div class="form-group"
					ng-class="{ 'has-error' : userForm.name.$invalid && (userForm.name.$dirty || submitted)}">
					<label>Annual Income</label> <input type="text"
						name="user.annualincome" class="form-control"
						ng-model="user.annualincome" placeholder="Your annualincome"
						ng-required="true">
					<p
						ng-show="userForm.annualincome.$error.required && (userForm.annualincome.$dirty || submitted)"
						class="help-block">Annual Income is required.</p>
				</div>

				<div class="form-group"
					ng-class="{ 'has-error' : userForm.name.$invalid && (userForm.name.$dirty || submitted)}">
					<label>State</label> <input type="text" name="user.state"
						class="form-control" ng-model="user.state"
						placeholder="Your state" ng-required="true">
					<p
						ng-show="userForm.state.$error.required && (userForm.state.$dirty || submitted)"
						class="help-block">State is required.</p>
				</div>

				<div class="form-group"
					ng-class="{ 'has-error' : userForm.name.$invalid && (userForm.name.$dirty || submitted)}">
					<label>Status</label> <input type="text" name="user.status"
						class="form-control" ng-model="user.status"
						placeholder="Your status" ng-required="true">
					<p
						ng-show="userForm.status.$error.required && (userForm.status.$dirty || submitted)"
						class="help-block">Status is Required</p>
				</div>

				<div class="form-group"
					ng-class="{ 'has-error' : userForm.name.$invalid && (userForm.name.$dirty || submitted)}">
					<label>Religion</label> <select name="user.religion"
						class="form-control" ng-model="user.religion"
						ng-options="x for x in religionList" ng-required="true">
						<option value=''>Select</option>
						<p
							ng-show="userForm.religion.$error.required && (userForm.religion.$dirty || submitted)"
							class="help-block">Religion is required.</p>
				</div>

				<div class="form-group"
					ng-class="{ 'has-error' : userForm.name.$invalid && (userForm.name.$dirty || submitted)}">
					<label>Resident Status</label> <select name="user.residentstatus"
						class="form-control" ng-model="user.residentstatus"
						ng-options="residentstatus for residentstatus in residencyList"
						ng-required="true">
						<option value=''>Select</option>
						<p
							ng-show="userForm.residentstatus.$error.required && (userForm.residentstatus.$dirty || submitted)"
							class="help-block">Resident Status is required.</p>
				</div>

				<div class="form-group"
					ng-class="{ 'has-error' : userForm.name.$invalid && (userForm.name.$dirty || submitted)}">
					<label>Citizenship</label> <input type="text"
						name="user.citizenship" class="form-control"
						ng-model="user.citizenship" placeholder="Your Citizenship"
						ng-required="true">
					<p
						ng-show="userForm.citizenship.$error.required && (userForm.citizenship.$dirty || submitted)"
						class="help-block">You name is required.</p>
				</div>

				<div class="form-group"
					ng-class="{ 'has-error' : userForm.name.$invalid && (userForm.name.$dirty || submitted)}">
					<label>Employement Type</label> <select name="user.employement"
						class="form-control" ng-model="user.employement"
						ng-options="employement for employement in employementList"
						ng-required="true">
						<option value=''>Select</option>
						<p
							ng-show="userForm.employement.$error.required && (userForm.employement.$dirty || submitted)"
							class="help-block">Employment is required.</p>
				</div>

				<!-- PASSWORD -->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.password.$invalid && (userForm.password.$dirty || submitted)}">
					<label>Password</label> <input type="Password" name="user.password"
						class="form-control" ng-model="user.Password"
						placeholder="Your Password" ng-required="true">
					<p
						ng-show="userForm.password.$error.required && (userForm.password.$dirty || submitted)"
						class="help-block">Your password is required.</p>
				</div>

				<!-- CONFIRM PASSWORD -->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.confirmPassword.$invalid && (userForm.confirmPassword.$dirty || submitted)}">
					<label>Confirm Password</label> <input type="Password"
						name="user.confirmPassword" class="form-control"
						ng-model="user.confirmPassword"
						placeholder="Confirm Your Password" ng-compare="password"
						ng-required="true">
					<p
						ng-show="userForm.confirmPassword.$error.required && (userForm.confirmPassword.$dirty || submitted)"
						class="help-block">Your confirm password is required.</p>
					<p
						ng-show="userForm.confirmPassword.$error.compare && (userForm.confirmPassword.$dirty || submitted)"
						class="help-block">Confirm password doesnot match.</p>
				</div>

				<!-- EMAIL -->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.email.$invalid && (userForm.email.$dirty || submitted)}">
					<label>Email</label> <input type="email" name="user.email"
						class="form-control" ng-model="user.emailid"
						placeholder="Your Email Address" ng-required="true">
					<p
						ng-show="userForm.email.$error.required && (userForm.email.$dirty || submitted)"
						class="help-block">Email is required.</p>
					<p
						ng-show="userForm.email.$error.email && (userForm.email.$dirty || submitted)"
						class="help-block">Enter a valid email.</p>
				</div>

				<!-- CONTACTNO -->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.contactno.$invalid && (userForm.contactno.$dirty || submitted) }">
					<label>ContactNo</label> <input type="text" name="user.contactno"
						class="form-control" ng-model="user.phoneno"
						placeholder="Your Contact No" ng-pattern="/^[789]\d{9}$/"
						maxlength="10">
					<p
						ng-show="userForm.contactno.$error.pattern && (userForm.contactno.$dirty || submitted)"
						class="help-block">Enter a valid contactno.</p>
				</div>

				<!-- COUNTRY -->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.country.$invalid && (userForm.country.$dirty || submitted)}">
					<label>Country</label> <input type="text" name="user.country"
						class="form-control" ng-model="user.country"
						placeholder="Your Country" ng-required="true">
					<p
						ng-show="userForm.country.$error.required && (userForm.country.$dirty || submitted)"
						class="help-block">Enter Country.</p>
				</div>

				<!-- CITY -->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.city.$invalid && (userForm.city.$dirty || submitted)}">
					<label>City</label> <input type="text" name="user.city"
						class="form-control" ng-model="user.city" placeholder="Your City"
						ng-minlength="3" ng-maxlength="8" ng-required="true">
					<p
						ng-show="userForm.city.$error.required && (userForm.city.$dirty || submitted)"
						class="help-block">Enter city.</p>
				</div>

				<!-- TERMS & CONDITIONS -->
				<div class="form-group"
					ng-class="{ 'has-error' : userForm.terms.$invalid && (userForm.terms.$dirty || submitted)}">
					<label>Accept Terms & Conditions</label> <input type="checkbox"
						value="" name="user.terms" ng-model="user.terms"
						ng-required="true" />
					<p
						ng-show="userForm.terms.$error.required && (userForm.terms.$dirty || submitted)"
						class="help-block">Accept terms & conditions.</p>
				</div>

				<!-- ng-disabled FOR ENABLING AND DISABLING SUBMIT BUTTON -->
				<!--<button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Register</button>-->
				<button type="submit" class="btn btn-primary">Register</button>
			</form>
		</div>
	</div>
	<br />
</body>
</html>
